<!-- Declaração do tipo de documento HTML5 -->
<!DOCTYPE html>

<!-- Define o idioma principal da página como inglês -->
<html lang="en">
<head>
    <!-- Define o conjunto de caracteres como UTF-8 (suporta acentos e caracteres especiais) -->
    <meta charset="UTF-8">

    <!-- Define que o layout da página será responsivo (ajustável para dispositivos móveis) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Define o título da aba do navegador -->
    <title>E-Commerce PC</title>

    <!-- Importa o CSS do Bootstrap, que será usado para estilizar a página -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
    
    <!-- Onde o conteúdo dinâmico será inserido pelas views do Handlebars -->
    {{{ body }}}

</body>
</html>
